<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> ProjetRH</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <style>
            h1{
                font-family:'Stencil';
                
            }
            #main{
                background-color: rgb(231, 221, 208);
            }
            #recap{
                background-color:rgb(182, 166, 77)
            }
            #text{
                position:absolute;
                top:50%; left:50%;
                transform: translate(-50%, -50%);
                margin:0;
                width:400px;;
            }
        </style>
    </head>
    <body>
        <div id="main" class="p-5 container">
            <div class="row d-flex align-items-center justify-content-center">
                <h1 class="pb-4" style="color:rgb(168, 157, 93);">-  Nouvel Employé  -</h1>
            </div>
            <div class="row d-flex align-items-center justify-content-center" style="height:400px;">
                <div v-bind:class ="{'col-lg-6': champsPleins, 'col-lg-12': !champsPleins}" class="d-flex justify-content-center">
                    <form id="newEntry"  class="d-inline-flex flex-column align-items-center w-100" style="max-width: 500px !important;">
                        
                        <div class="form-group d-flex flex-column justify-content-between align-items-stretch w-100">
                            <input class="mx-3" v-model="newEmployee.nom" type="text" name="nom" placeholder="Nom">
                        </div>
                        <div class="form-group d-flex flex-column justify-content-between align-items-stretch w-100">
                            <input class="mx-3" v-model="newEmployee.prenom" type="text" name="prenom" placeholder="Prénom">
                        </div>
                        <div class="form-group d-flex flex-row justify-content-between w-100">
                            <label for="dateDebut">Date de Début de Contrat :</label>
                            <input v-model="newEmployee.debut" type="date" name="dateDebut">
                        </div>
                        <div class="form-group d-flex flex-row justify-content-between w-100">
                            <label for="dateFin">Date de Fin de Contrat :</label>
                            <input v-model="newEmployee.fin" type="date" name="dateFin">
                        </div>
                        <div class="form-group d-flex flex-row justify-content-between w-100">
                            <label for="ETP">Equivalent Temps Plein :</label>
                            <input v-model="newEmployee.ETP" type="number" step=0.1 min=0 max=1 name="ETP">
                        </div>
                    </form>
                </div>

                <div v-if="champsPleins" class="col-lg-6 d-flex flex-column align-items-center" style="max-width:600px;" >
                    <div id="recap" class="rounded-circle text-light  " style="width:85%; position:relative; padding-bottom: 85%;">
                        <div id="text" class="d-flex flex-column align-items-center justify-content-center">
                            <h1 class="pb-4">Infos Contrat</h1>
                            <div class="w-100 d-flex flex-row justify-content-around">
                                <p>Durée du contrat en jours:</p>
                                <p>{{employe.duree.day}} Jours</p>
                            </div>
                            <div class="w-100 d-flex flex-row justify-content-around">
                                <p>Heures Travaillées: </p>
                                <p>{{employe.duree.hour}} Heures</p>
                            </div>
                            <div class="w-100 d-flex flex-row justify-content-around">
                                <p>Congés Acquis :</p>
                                <p>{{employe.congesAcquis}} Jours</p>
                            </div>
                        </div>  
                    </div>
                   
                </div>
            </div>
        </div>
        
        <script>
            class Employe{

                constructor(nom,prenom,debut,fin,ETP){
                    this.nom=nom;
                    this.prenom=prenom;
                    this.debut=new Date(debut);
                    this.fin=new Date(fin);
                    this.ETP=ETP;
                    this.duree=this.dateDiff();
                    this.congesAcquis=this.calcConges();
                    this.joursSemaine=[
                        "Dimanche",
                        "Lundi",
                        "Mardi",
                        "Mercredi",
                        "Jeudi",
                        "Vendredi",
                        "Samedi",
                    ];
                    this.Mois=[
                        "Janvier",
                        "Fevrier",
                        "Mars",
                        "Avril",
                        "Mai",
                        "Juin",
                        "Juillet",
                        "Août",
                        "Septembre",
                        "Octobre",
                        "Novembre",
                        "Décembre"
                    ];
                }

                dateDiff(){
                    var diff = {}                           // Initialisation du retour
                    var tmp = this.fin - this.debut;
                    console.log(tmp);
                    diff.day = Math.ceil(tmp / (1000 * 60 * 60*24))+1;
                    diff.hour =Math.ceil(Math.floor(diff.day/7)*this.ETP*35)+Math.ceil((diff.day % 7)/5*this.ETP*35);
                    return diff;
                    
                }

                calcConges(){
                    var nbConges=Math.ceil(Math.floor(this.duree.day/28)*2.08);
                    if(nbConges>25)nbConges=25;
                    if(this.duree.day<28)nbConges=0;
                    return nbConges;
                }
                getFin(){
                    return this.joursSemaine[this.fin.getDay()]+" "+this.fin.getDate()+" "+this.Mois[this.fin.getMonth()]+" "+this.fin.getFullYear();
                }
                getDebut(){
                    return this.joursSemaine[this.debut.getDay()]+" "+this.debut.getDate()+" "+this.Mois[this.debut.getMonth()]+" "+this.debut.getFullYear();
                }

            }
            // Creating a new Vue instance and pass in an options object.
            var appRH = new Vue({
            
                // A DOM element to mount our view model.
                el: '#main',
            
                // Define properties and give them initial values.
                data: {
                    
                    newEmployee:{
                        nom:'',
                        prenom:'',
                        debut:'',
                        fin:'',
                        ETP:0,
                    },
                    
                },
            
                // Functions we will be using.
                methods: {
                   
                    Retour: function(){
                        this.employe=null;
                        this.newEmployee.nom='';
                        this.newEmployee.prenom='';
                        this.newEmployee.debut='';
                        this.newEmployee.fin='';
                        this.newEmployee.ETP=0;
                        this.employeRenseigne=false;
                    }
                },
                computed:{
                    champsPleins: function(){
                        if(this.newEmployee.nom && this.newEmployee.prenom && this.newEmployee.debut && this.newEmployee.fin && this.newEmployee.ETP){
                            this.employe=new Employe(this.newEmployee.nom,this.newEmployee.prenom,this.newEmployee.debut,this.newEmployee.fin,this.newEmployee.ETP);
                            return true;
                        }
                        return false;
                    }
                },
            });
            </script>
    </body>
</html>