<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> ProjetRH</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="main" class="d-flex flex-row justify-content-center w-100">
            <form id="newEntry" v-if="!employeRenseigne" class="d-inline-flex flex-column align-items-center w-100" style="max-width: 500px !important;">
                <h1 class="pb-4">Nouvel Employé</h1>
                <div class="form-group d-flex flex-column justify-content-between align-items-stretch w-100">
                    <input class="mx-3" v-model="newEmployee.nom" type="text" name="nom" placeholder="Nom">
                </div>
                <div class="form-group d-flex flex-column justify-content-between align-items-stretch w-100">
                    <input class="mx-3" v-model="newEmployee.prenom" type="text" name="prenom" placeholder="Prénom">
                </div>
                <div class="form-group d-flex flex-row justify-content-between w-100">
                    <label for="dateDebut">Date de Début de Contrat :</label>
                    <input v-model="newEmployee.debut" type="date" name="dateDebut">
                </div>
                <div class="form-group d-flex flex-row justify-content-between w-100">
                    <label for="dateFin">Date de Fin de Contrat :</label>
                    <input v-model="newEmployee.fin" type="date" name="dateFin">
                </div>
                <div class="form-group d-flex flex-row justify-content-between w-100">
                    <label for="ETP">Equivalent Temps Plein :</label>
                    <input v-model="newEmployee.ETP" type="number" step=0.1 min=0 max=1 name="ETP">
                </div>
                <button @click.prevent="Calcul" type="submit" class="btn btn-primary">Calcul</button>
            </form>
            <div v-if="employeRenseigne" class="w-25 d-flex flex-column align-items-center ">
                <h1 class="pb-4">Récapitulatif</h1>
                <div class="w-100 d-flex flex-row justify-content-between">
                    <p>Employé:</p>
                    <p>{{employe.nom}} {{employe.prenom}}</p>
                </div>
                <div class="w-100 d-flex flex-row justify-content-between">
                    <p>Date de début de contrat:</p>
                    <p>{{employe.getDebut()}}</p>
                </div>
                <div class="w-100 d-flex flex-row justify-content-between">
                    <p>Date de fin de contrat:</p>
                    <p>{{employe.getFin()}}</p>
                </div>
                <div class="w-100 d-flex flex-row justify-content-between">
                    <p>Equivalents temps plein : </p>
                    <p>{{employe.ETP*100}}%</p>
                </div>
                <div class="w-100 d-flex flex-row justify-content-between">
                    <p>Durée du contrat en jours:</p>
                    <p>{{employe.duree.day}} Jours</p>
                </div>
                <div class="w-100 d-flex flex-row justify-content-between">
                    <p>Durée du contrat en heures: </p>
                    <p>{{employe.duree.hour}} Heures</p>
                </div>
                <div class="w-100 d-flex flex-row justify-content-between">
                    <p>Congés Acquis :</p>
                    <p>{{employe.congesAcquis}} Jours</p>
                </div>
                <button @-click="Retour" class="btn btn-primary">Retour</button>
            </div>
        </div>
        
        <script>
            class Employe{

                constructor(nom,prenom,debut,fin,ETP){
                    this.nom=nom;
                    this.prenom=prenom;
                    this.debut=new Date(debut);
                    this.fin=new Date(fin);
                    this.ETP=ETP;
                    this.duree=this.dateDiff();
                    this.congesAcquis=this.calcConges();
                    this.joursSemaine=[
                        "Dimanche",
                        "Lundi",
                        "Mardi",
                        "Mercredi",
                        "Jeudi",
                        "Vendredi",
                        "Samedi",
                    ];
                    this.Mois=[
                        "Janvier",
                        "Fevrier",
                        "Mars",
                        "Avril",
                        "Mai",
                        "Juin",
                        "Juillet",
                        "Août",
                        "Septembre",
                        "Octobre",
                        "Novembre",
                        "Décembre"
                    ];
                }

                dateDiff(){
                    var diff = {}                           // Initialisation du retour
                    var tmp = this.fin - this.debut;
                    console.log(tmp);
                    diff.day = Math.ceil(tmp / (1000 * 60 * 60 * 24));
                    diff.hour = Math.ceil(tmp / (1000 * 60 * 60));
                    console.log(diff);
                    return diff;
                    
                }

                calcConges(){
                    var nbConges=Math.ceil((this.duree.day/28)*2.08);
                    if(nbConges>25)nbConges=25;
                    console.log(nbConges);
                    return nbConges;
                }
                getFin(){
                    return this.joursSemaine[this.fin.getDay()]+" "+this.fin.getDate()+" "+this.Mois[this.fin.getMonth()]+" "+this.fin.getFullYear();
                }
                getDebut(){
                    return this.joursSemaine[this.debut.getDay()]+" "+this.debut.getDate()+" "+this.Mois[this.debut.getMonth()]+" "+this.debut.getFullYear();
                }

            }
            // Creating a new Vue instance and pass in an options object.
            var appRH = new Vue({
            
                // A DOM element to mount our view model.
                el: '#main',
            
                // Define properties and give them initial values.
                data: {
                    
                    employeRenseigne:false,
                    newEmployee:{
                        nom:'',
                        prenom:'',
                        debut:'',
                        fin:'',
                        ETP:0,
                    },
                    
                },
            
                // Functions we will be using.
                methods: {
                    Calcul: function(){
                        this.employe=new Employe(this.newEmployee.nom,this.newEmployee.prenom,this.newEmployee.debut,this.newEmployee.fin,this.newEmployee.ETP);
                        this.employeRenseigne=true;
                        
                    },
                    Retour: function(){
                        this.employe=null;
                        this.employeRenseigne=false;
                    }
                },
            });
            </script>
    </body>
</html>